body {
    --accent: #08f;
    --font: "Segoe UI";

    background: #111;
    color: #fff;

    font-family: var(--font);

    user-select: none;
}

div.app {
    position: fixed;

    left: 0px;
    top: 0px;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;

    padding: 4px;

    display: grid;
    grid-template-columns: 360px auto;
    grid-template-rows: 400px auto;
    gap: 4px;
}