div.queue-item {
    display: flex;
    align-items: center;
}

div.queue-item:hover {
    background: #fff1;
}

div.queue-item:not(:hover) button {
    display: none;
}

div.queue-item-track {
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    padding: 4px 0px;
    margin-right: 8px;

    flex-grow: 1;
}

div.queue-item-index {
    min-width: 40px;
    width: 40px;

    font-size: 90%;
    text-align: center;

    opacity: 0.6;
}